<div class="section wf-section">
    <div class="container w-container">
      <div class="div-block-2">
        <a href="{{ links.2f }}" id="w-node-_264bf751-c9d4-88c4-cdcf-7d6e2efb765b-2efb7658" aria-current="page" class="brand w-nav-brand w--current"><img src="{{ images.-43882078.url }}" loading="lazy" width="75" alt="{{ images.-43882078.alt | trim | escape }}" class="image-5">
          <div class="logotype">{{ texts.-2d4e4dce }}</div>
        </a>
        <a data-w-id="a89295f5-e9a4-54e4-5a2f-f6f29c070ec3" href="{{ links.-7fd68af0 }}" class="button-small footer w-inline-block">
          <div class="button-label">{{ texts.d982a3d }}</div>
        </a>
      </div>
    </div>
  </div>